<template name="alert">
	{{#each alerts}}
	<div class="alert {{_id}}" id="alert">
	<span class="alert text">Group {{group}} had alert of type {{type}} at {{whenAlert}}</span>
	<span class="alert links">
		<a href="https://mms.mongodb.com/backup/dashboard/{{mmsId}}">MMS</a> <a href="https://brsnoc.10gen.com/view_group?id={{mmsId}}">BRS NOC</a> Comments
		<input type="button" class="ack" id="{{_id}}" value="Acknowledge">
	</span>
	</div>
	{{/each}}
</template>

<template name="oneAlert">

</template>
