<template name="alert">
	{{#each alerts}}
	<div class="mmsalert" id="alert_{{_id}}">
	<span class="onealerttext">{{group}} had alert of type {{type}} &mdash; {{time}}</span>
	<span class="onealertlinks">
		<a href="https://mms.mongodb.com/backup/dashboard/{{mmsId}}">MMS</a> 
		<a href="https://brsnoc.10gen.com/view_group?id={{mmsId}}">NOC</a> 
		<a href="#" class="toggleComments">Comments ({{comment.length}})</a>
		{{>ack}}
	</span>
	<div class="commentwrap" id="comments_{{this._id}}">
		{{#each comment}}
		<div class="onecomment">
			{{{urlText}}} &mdash;{{name}} @ {{time}}
		</div>
		{{/each}}
		<div>
			<input type="text" id="alert_{{_id}}_comment_name" class="comment_name" placeholder="Name..." rows="1" />
			<br />
			<textarea id="alert_{{_id}}_comment_text" class="comment_text" placeholder="Comment... (make links by entering only an URL)"></textarea>
			<br />
			<input class="post_comment" type="button" value="Post" />
		</div>
	</div>
	</div>
	{{/each}}
</template>
